@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Payroll Portal</h1>
    <p>This system allows you to schedule, payrolls, and attendance records.</p>
</div>
