@model IEnumerable<WorkPortal_ASP.Net.Models.Employee>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to the Dashboard!</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Details"><button>Profile</button></a>
@*<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Punch"><button>Punch</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Pay"><button>Pay</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Attendence"><button>Attendance</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="TimeCard"><button>Timecard</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Schedule"><button>My Schedule</button></a>
*@