@model IEnumerable<WorkPortal_ASP.Net.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Welcome to the Dashboard!</h1>
<h1>Welcome, @User.Identity.Name!</h1>
<p>This page will contain Employee payroll info.</p>
<a asp-controller="Attendance" asp-action="index"><button>Attendance</button></a>