@model IEnumerable<WorkPortal_ASP.Net.Models.Employee>

@{
<<<<<<< HEAD
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to the Dashboard!</h1>
=======
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>
>>>>>>> 048e616496288cecd9133010e0b82b290cb638af

<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Details"><button>Profile</button></a>
@*<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Punch"><button>Punch</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Pay"><button>Pay</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Attendence"><button>Attendance</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="TimeCard"><button>Timecard</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Schedule"><button>My Schedule</button></a>
*@